# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Qt Creator user files
*.user
*.pro.user
*.autosave

# CMake build dirs/files
/build*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
compile_commands.json
install_manifest.txt

# VS Code
.vscode/
